<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<meta name="author" content="Seasand-yyh">
	<meta name="description" content="Template">
	<meta http-equiv="keywords" content="Template">
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
	<h1>Template</h1>
</body>
</html>
