@charset "utf-8";

#title {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#imgWrapper {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

.img {
  width: 220px;
  text-align: center;
  padding: 20px 10px;
  float: left;
}

.img img {
  
}

.img .text {
  font-size: 12px;
  margin-top: 10px;
}
